<footer>
    <div class="w-full flex justify-between p-4">
        <p>&copy; Frissons et Virages - 2024 Tout droits réservés </p>
        <p>Mentions légales</p>
        <p>Cookies</p>
        <p>RSE</p>
    </div>
</footer>