<footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto flex justify-between items-center px-8">
        <p>&copy; Frissons et Virages - 2024 Tout droits réservés</p>
        <div class="flex space-x-4">
            <a href="#" class="hover:text-yellow-500 transition duration-300">Mentions légales</a>
            <a href="#" class="hover:text-yellow-500 transition duration-300">Cookies</a>
            <a href="#" class="hover:text-yellow-500 transition duration-300">RSE</a>
        </div>
    </div>
</footer>