<header>
<div class="flex space justify-between px-8 items-center">
    <img src="{{ asset('images/logoFetVi.png') }}" alt="Logo d'UTP" class="w-[10%] h-[10%]">
    <div class="flex space-x-8 text-lg">
        <a>Classement mondial des coasters</a>
        <a>Carte de coasters</a>
        <a>Mes favoris</a>
        <a>Se connecter</a>
    </div>
</div>
</header>