{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
<button onclick="window.history.back();" class="mt-4 px-4 py-2 bg-gray-300 text-gray-700 rounded-md shadow-md hover:bg-gray-400">Retour</button>
    <h1 class="text-center text-4xl mb-10">Carte des parcs d'attractions</h1>
    <div id="map" class="w-full h-screen rounded-lg shadow-md"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('maps') }}
{% endblock %}
