{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">Rechercher un coaster :</h1>
        <form action="" method="get" class="mb-8">
            <div class="flex items-center">
                <input type="text" name="q" placeholder="Nom du coaster" class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent">
                <button type="submit" class="ml-2 px-4 py-2 bg-yellow-500 text-white font-semibold rounded-md shadow-md hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-75">Rechercher</button>
            </div>
        </form>
        <h2 class="text-2xl font-semibold mb-4">Liste des coasters :</h2>
        <ul class="space-y-4">
           
            {% for coaster in coasters %}

                <li class="p-4 bg-white rounded-lg shadow-md hover:bg-gray-100">
                    <a href="#" class="text-lg font-medium text-yellow-600 hover:underline">{{ coaster.name }}</a>
                    {# {{ path('coaster_details', {'id': coaster.id}) }} #}
                </li>
            {% endfor %}
        </ul>
        <div class="mt-8">
            {% if currentPage > 1 %}
                <a href="{{ path('coaster_list', {'page': currentPage - 1}) }}" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md shadow-md hover:bg-gray-400">Previous</a>
            {% endif %}
            {% if currentPage < totalPages %}
                <a href="{{ path('coaster_list', {'page': currentPage + 1}) }}" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md shadow-md hover:bg-gray-400">Next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}